3.-SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.WebApp/Service References/WSPideReniec/ReniecConsultaDni.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.reniec.gob.pe/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.reniec.gob.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:ns8="http://ws.reniec.gob.pe/" xmlns:ns7="http://ws.reniec.gob.pe/" xmlns:ns10="http://ws.reniec.gob.pe/" xmlns:ns0="http://ws.reniec.gob.pe/" xmlns:ns9="http://ws.reniec.gob.pe/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.reniec.gob.pe/">
      <xsd:complexType name="peticionActualizarCredencial">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="credencialAnterior" type="xsd:string" />
          <xsd:element minOccurs="0" name="credencialNueva" type="xsd:string" />
          <xsd:element minOccurs="0" name="nuDni" type="xsd:string" />
          <xsd:element minOccurs="0" name="nuRuc" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="peticionConsulta">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nuDniConsulta" type="xsd:string" />
          <xsd:element minOccurs="0" name="nuDniUsuario" type="xsd:string" />
          <xsd:element minOccurs="0" name="nuRucUsuario" type="xsd:string" />
          <xsd:element minOccurs="0" name="password" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="resultadoActualizacionCredencial">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="coResultado" type="xsd:string" />
          <xsd:element minOccurs="0" name="deResultado" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="resultadoConsulta">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="coResultado" type="xsd:string" />
          <xsd:element minOccurs="0" name="datosPersona" type="ns9:datosPersona" />
          <xsd:element minOccurs="0" name="deResultado" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="datosPersona">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="apPrimer" type="xsd:string" />
          <xsd:element minOccurs="0" name="apSegundo" type="xsd:string" />
          <xsd:element minOccurs="0" name="direccion" type="xsd:string" />
          <xsd:element minOccurs="0" name="estadoCivil" type="xsd:string" />
          <xsd:element minOccurs="0" name="foto" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="prenombres" type="xsd:string" />
          <xsd:element minOccurs="0" name="restriccion" type="xsd:string" />
          <xsd:element minOccurs="0" name="ubigeo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="actualizarcredencial">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="arg0" nillable="true" type="ns9:peticionActualizarCredencial" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="arg0" nillable="true" type="ns9:peticionConsulta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarcredencialResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="return" nillable="true" type="ns9:resultadoActualizacionCredencial" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="return" nillable="true" type="ns9:resultadoConsulta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="actualizarcredencial">
    <wsdl:part name="parameters" element="tns:actualizarcredencial" />
  </wsdl:message>
  <wsdl:message name="actualizarcredencialResponse">
    <wsdl:part name="parameters" element="tns:actualizarcredencialResponse" />
  </wsdl:message>
  <wsdl:message name="consultar">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:portType name="ReniecConsultaDniPortType">
    <wsdl:operation name="actualizarcredencial">
      <wsdl:input wsaw:Action="actualizarcredencial" message="tns:actualizarcredencial" />
      <wsdl:output wsaw:Action="http://ws.reniec.gob.pe/ConsultaPide/actualizarcredencialResponse" message="tns:actualizarcredencialResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <wsdl:input wsaw:Action="consultar" message="tns:consultar" />
      <wsdl:output wsaw:Action="http://ws.reniec.gob.pe/ConsultaPide/consultarResponse" message="tns:consultarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReniecConsultaDniSoap11Binding" type="tns:ReniecConsultaDniPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="actualizarcredencial">
      <soap:operation soapAction="actualizarcredencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReniecConsultaDni">
    <wsdl:port name="ReniecConsultaDniHttpsSoap11Endpoint" binding="tns:ReniecConsultaDniSoap11Binding">
      <soap:address location="https://ws5.pide.gob.pe/services/ReniecConsultaDni.ReniecConsultaDniHttpsSoap11Endpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>